{% extends 'base.html' %}
{% block title %}
Macro Token: Games
{% endblock %}
{% block header %}
<div
	id="home"
	class="header-hero bg_cover"
	style="background-image: url({{ url_for('static', filename='images/banner-bg.svg') }})"
>
	<div class="container">
		<div class="header-hero-content text-center">
			<h2
				class="header-title wow fadeInUp"
				data-wow-duration="1.3s"
				data-wow-delay="0.5s"
			>
				Gamesss!!
			</h2>
		</div>
		<div id="particles-1" class="particles"></div>
	</div>
	<br />
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-7 col-sm-8">
				<div
					class="single-services text-center mt-30 wow fadeIn"
					data-wow-duration="1s"
					data-wow-delay="0.2s"
				>
					<div class="services-icon">
						<img
							class="shape"
							src="{{ url_for('static', filename='images/services-shape.svg') }}"
							alt="shape"
						/>
						<img
							class="shape-1"
							src="{{ url_for('static', filename='images/services-shape-1.svg') }}"
							alt="shape"
						/>
						<i><img src="{{ url_for('static', filename='images/snake.png') }}" alt=""></i>
					</div>
					<div class="services-content mt-30">
						<h4 class="services-title"><a href="#">Snake</a></h4>
						<p class="text">The classical snake game
						</p>
						<a class="more" href="{{ url_for('views.game', name='snake') }}">Play <i class="lni-chevron-right"></i
						></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-7 col-sm-8">
				<div
					class="single-services text-center mt-30 wow fadeIn"
					data-wow-duration="1s"
					data-wow-delay="0.5s"
				>
					<div class="services-icon">
						<img
							class="shape"
							src="{{ url_for('static', filename='images/services-shape.svg') }}"
							alt="shape"
						/>
						<img
							class="shape-1"
							src="{{ url_for('static', filename='images/services-shape-2.svg') }}"
							alt="shape"
						/>
						<i><img src="{{ url_for('static', filename='images/fort.png') }}" alt=""></i>
					</div>
					<div class="services-content mt-30">
						<h4 class="services-title"><a href="#">Tower Blocks</a></h4>
						<p class="text">Tower blocks game</p>
						<a class="more" href="{{ url_for('views.game', name='towerblocks') }}"
							>Play <i class="lni-chevron-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-7 col-sm-8">
				<div
					class="single-services text-center mt-30 wow fadeIn"
					data-wow-duration="1s"
					data-wow-delay="0.5s"
				>
					<div class="services-icon">
						<img
							class="shape"
							src="{{ url_for('static', filename='images/services-shape.svg') }}"
							alt="shape"
						/>
						<img
							class="shape-1"
							src="{{ url_for('static', filename='images/services-shape-2.svg') }}"
							alt="shape"
						/>
						<i><img src="{{ url_for('static', filename='images/color-wheel.png') }}" alt=""></i>
					</div>
					<div class="services-content mt-30">
						<h4 class="services-title"><a href="#">Coloron</a></h4>
						<p class="text">Coloron game</p>
						<a class="more" href="{{ url_for('views.game', name='coloron') }}"
							>Play <i class="lni-chevron-right"></i></a>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
{% endblock %}
