{% extends 'base.html' %}
{% block title %}
Macro Token: Games
{% endblock %}
{% block header %}
<div
	id="home"
	class="header-hero bg_cover"
	style="background-image: url({{ url_for('static', filename='images/banner-bg.svg') }})"
>
	<div class="container">
		<div class="header-hero-content text-center">
			<h2
				class="header-title wow fadeInUp"
				data-wow-duration="1.3s"
				data-wow-delay="0.5s"
			>
				Gamesss!!
			</h2>
		</div>
		<div id="particles-1" class="particles"></div>
	</div>
	<br />
	<div class="container">
		
	</div>
</div>
{% endblock %}
