{% extends 'base.html' %}
{% block title %}
Macro Token: Home
{% endblock %}
{% block header %}
<div id="home" class="header-hero bg_cover" style="background-image: url({{ url_for('static', filename='images/banner-bg.svg') }})">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="header-hero-content text-center">
                    <h3 class="header-sub-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s"><span class="counter">100000000</span> MCR circulating</h3>
                    <h2 class="header-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">Changing the feel of web3 games</h2>
                    <p class="text wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">Web3 games feel too rigid and unnatural. We have come to change that!</p>
                    <p class="text wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s"><contract id="ca">Contract address</contract> <button style="border: none; background: transparent;" onclick="copy_text()"><i class="fa fa-copy"></i></button></p>
                    <script>
                        function copy_text() {
                            var copyText = document.getElementById("ca");
                            navigator.clipboard.writeText(copyText.innerText);}
                    </script>
                    {% if current_user.is_authenticated %}
                    <a href="/#games" class="page-scroll main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Play Games</a>
                    {% else %}
                    <a href="{{ url_for('auth.login') }}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">
                        Get started</a>
                    {% endif %}
                </div> <!-- header hero content -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="header-hero-image text-center wow fadeIn" data-wow-duration="1.3s" data-wow-delay="1.4s">
                    <img src="{{ url_for('static', filename='images/header-hero.png') }}" alt="hero">
                </div> <!-- header hero image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div id="particles-1" class="particles"></div>
</div> <!-- header hero -->
{% endblock %}
{% block content %}
    
    <!--====== HEADER PART ENDS ======-->
    

    <!--====== SERVICES PART START ======-->
    
    <section id="games" class="services-area pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-title text-center pb-40">
                        <div class="line m-auto"></div>
                        <h3 class="title">Play games and mine tokens!!, <span> Get started now!</span></h3>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div
                        class="single-services text-center mt-30 wow fadeIn"
                        data-wow-duration="1s"
                        data-wow-delay="0.2s"
                    >
                        <div class="services-icon">
                            <img
                                class="shape"
                                src="{{ url_for('static', filename='images/services-shape.svg') }}"
                                alt="shape"
                            />
                            <img
                                class="shape-1"
                                src="{{ url_for('static', filename='images/services-shape-1.svg') }}"
                                alt="shape"
                            />
                            <i><img src="{{ url_for('static', filename='images/snake.png') }}" alt=""></i>
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title"><a href="#">Snake</a></h4>
                            <p class="text">The classical snake game
                            </p>
                            <a class="more" href="{{ url_for('views.game', name='snake') }}">Play <i class="lni-chevron-right"></i
                            ></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div
                        class="single-services text-center mt-30 wow fadeIn"
                        data-wow-duration="1s"
                        data-wow-delay="0.5s"
                    >
                        <div class="services-icon">
                            <img
                                class="shape"
                                src="{{ url_for('static', filename='images/services-shape.svg') }}"
                                alt="shape"
                            />
                            <img
                                class="shape-1"
                                src="{{ url_for('static', filename='images/services-shape-2.svg') }}"
                                alt="shape"
                            />
                            <i><img src="{{ url_for('static', filename='images/fort.png') }}" alt=""></i>
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title"><a href="#">Tower Blocks</a></h4>
                            <p class="text">Tower blocks game</p>
                            <a class="more" href="{{ url_for('views.game', name='towerblocks') }}"
                                >Play <i class="lni-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div
                        class="single-services text-center mt-30 wow fadeIn"
                        data-wow-duration="1s"
                        data-wow-delay="0.5s"
                    >
                        <div class="services-icon">
                            <img
                                class="shape"
                                src="{{ url_for('static', filename='images/services-shape.svg') }}"
                                alt="shape"
                            />
                            <img
                                class="shape-1"
                                src="{{ url_for('static', filename='images/services-shape-2.svg') }}"
                                alt="shape"
                            />
                            <i><img src="{{ url_for('static', filename='images/color-wheel.png') }}" alt=""></i>
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title"><a href="#">Coloron</a></h4>
                            <p class="text">Coloron game</p>
                            <a class="more" href="{{ url_for('views.game', name='coloron') }}"
                                >Play <i class="lni-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== SERVICES PART ENDS ======-->
    
    
    <!--====== TEAM PART START ======-->
    
    <section id="team" class="team-area pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="section-title text-center pb-30">
                        <div class="line m-auto"></div>
                        <h3 class="title"><span>Meet Our</span> Creative Team Members</h3>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-team text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="team-image">
                            <img src="{{ url_for('static', filename='images/team-1.png') }}" alt="Team">
                        </div>
                        <div class="team-content">
                            <h5 class="holder-name"><a href="#">Imogen Justine</a></h5>
                            <p class="text">Founder and CEO</p>
                        </div>
                    </div> <!-- single team -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-team text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="team-image">
                            <img src="{{ url_for('static', filename='images/team-2.png') }}" alt="Team"></div>
                        <div class="team-content">
                            <h5 class="holder-name"><a href="#">Nelson Grier</a></h5>
                            <p class="text">Sr. Software Engineer</p>
                        </div>
                    </div> <!-- single team -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-team text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                        <div class="team-image">
                            <img src="{{ url_for('static', filename='images/team-3.png') }}" alt="Team">
                            
                        </div>
                        <div class="team-content">
                            <h5 class="holder-name"><a href="#">Dzintra Griselda</a></h5>
                            <p class="text">Social Marketer</p>
                        </div>
                    </div> <!-- single team -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== TEAM PART ENDS ======-->
    
    <!--====== TESTIMONIAL PART START ======-->
    
    <section id="testimonial" class="testimonial-area pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="section-title text-center pb-40">
                        <div class="line m-auto"></div>
                        <h3 class="title">Users sharing<span> their experience</span></h3>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row testimonial-active wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="0.8s">
                <div class="col-lg-4">
                    <div class="single-testimonial">
                        <div class="testimonial-review d-flex align-items-center justify-content-between">
                            <div class="quota">
                                <i class="lni-quotation"></i>
                            </div>
                            <div class="star">
                                <ul>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p class="text">Had second thoughts about this project but now, I am just overwhelmed</p>
                        </div>
                        <div class="testimonial-author d-flex align-items-center">
                            <div class="author-image">
                                <img class="shape" src="{{ url_for('static', filename='images/textimonial-shape.svg') }}" alt="shape">
                                <img class="author" src="{{ url_for('static', filename='images/author-2.png') }}" alt="author">
                            </div>
                            <div class="author-content media-body">
                                <h6 class="holder-name">Navin Guifré</h6>
                            </div>
                        </div>
                    </div> <!-- single testimonial -->
                </div>
                <div class="col-lg-4">
                    <div class="single-testimonial">
                        <div class="testimonial-review d-flex align-items-center justify-content-between">
                            <div class="quota">
                                <i class="lni-quotation"></i>
                            </div>
                            <div class="star">
                                <ul>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p class="text">This project is looking goooodd. Definately going to invest in it</p>
                        </div>
                        <div class="testimonial-author d-flex align-items-center">
                            <div class="author-image">
                                <img class="shape" src="{{ url_for('static', filename='images/textimonial-shape.svg') }}" alt="shape">
                                <img class="author" src="{{ url_for('static', filename='images/author-3.png') }}" alt="author">
                            </div>
                            <div class="author-content media-body">
                                <h6 class="holder-name">Petros Dinesh</h6>
                            </div>
                        </div>
                    </div> <!-- single testimonial -->
                </div>
                <div class="col-lg-4">
                    <div class="single-testimonial">
                        <div class="testimonial-review d-flex align-items-center justify-content-between">
                            <div class="quota">
                                <i class="lni-quotation"></i>
                            </div>
                            <div class="star">
                                <ul>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p class="text">Macro to the moon !!!</p>
                        </div>
                        <div class="testimonial-author d-flex align-items-center">
                            <div class="author-image">
                                <img class="shape" src="{{ url_for('static', filename='images/textimonial-shape.svg') }}" alt="shape">
                                <img class="author" src="{{ url_for('static', filename='images/author-2.png') }}" alt="author">
                            </div>
                            <div class="author-content media-body">
                                <h6 class="holder-name">Iniobong Nazario</h6>
                            </div>
                        </div>
                    </div> <!-- single testimonial -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== TESTIMONIAL PART ENDS ======-->
{% endblock %}