{% extends 'base.html' %} {% block title %} Macro Token: Account {% endblock %}


{% block header %}
<head>
	<script
	src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
	integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
	crossorigin="anonymous"
	></script>
	<script src="{{ url_for('static', filename='js/login.js') }}"></script>
	<script src="{{ url_for('static', filename='js/account.js') }}"></script>
	<style>
		p {
			text-align: justify;
			text-justify: inter-word;
		}
		h3, li{
			text-align: left;
		}
		li {margin-left: 30px;}
	</style>
</head>
<div
	id="home"
	class="header-hero bg_cover"
	style="background-image: url({{ url_for('static', filename='images/banner-bg.svg') }})"
>
	<div class="container">
		<div class="header-hero-content text-center">
			<h2
				class="header-title wow fadeInUp"
				data-wow-duration="1.3s"
				data-wow-delay="0.5s"
			>
				White paper
			</h2>
		</div>
		<div id="particles-1" class="particles"></div>
	</div>
	<br />
	<div class="container">
		<div
			class="single-services text-center mt-10 wow fadeIn"
			data-wow-duration="1s"
			data-wow-delay="0.2s"
		>
		<h3>Introduction</h3>
		<p>As the world continues to grow digital over the years, the future of cryptocurrencies and blockchain is growing rapidly, Macro Token is the first cryptocurrency to be incorporated in everyday games, it is a play to earn cryptocurrency and it also in cooperates mining on the cloud.
			<br><br>Blockchain technology has made it possible to decentralize almost everything, Macro Token (MCR) is a BEP20 token on Binance smart Chain (BSC) network, the MCR token is used on the website for gaming, you play games each day to win MCR, on the website you can also mine MCR every 24hrs which also increases with each referral you obtain. The MCR also has a betting section, where you stake crypto on a condition that you have in mind.
		</p>
		<br>
		<h3>Vision</h3>
		<p>
			To Build a platform secured and operated by everyday people that in cooperates cryptocurrency into games. Build the World largest game mine Cryptocurrency, to be played by everyone, with everyone having fun and making profit in cryptocurrencies.
		</p>
		<br>
		
		<h3>Tokenomics</h3>
		<p>Max Supply: 100,000,000
			0.05 MCR per point in each game<br>
			Each user can play and earn up to 30 MCR per day<br>
			10% of transactions added to marketing<br>
			1% of transactions added to holders with up to 100000 MCR and above<br>
			10,000 MCR are burned after every phase.<br>
			20 million MCR available for gamers and airdrop<br>
			</p>
		<br>
		<h3>Roadmap</h3>
		<p>
			<p>Phase 1:</p>
			<ul>
				<li>Initial website launch </li>
				<li>Mine the Token on the website </li>
				<li>Marketing on social media</li>
				<li>Refer to increase mining rate </li>
				<li>Play to Earn games </li>
			</ul>
			<p>Phase 2:</p>
			<ul>
				<li>Pre-sales begins for 50,000,000 MCR at 0.0001 bnb per macro</li>
				<li>1000 holders</li>
			</ul>
			<p>Phase 3:</p>
			<ul>
				<li>Pre-sales continues for 20,000,000 MCR at 0.001 bnb per macro</li>
				<li>Release NFT market place</li>
				<li>10000 holders</li>
			</ul>
			<p>phase 4:</p>
			<ul>
				<li>Pre-sale continues for 10,000,000 MCR at 0.01 bnb per macro</li>
				<li>Listing on coingecko and coin market cap</li>
				<li>100000 holders</li>
			</ul>
			<p>Phase 5:</p>
			<ul>
				<li>Transfer of game tokens too wallet</li>
				<li>Tradable on pancake swap</li>
			</ul>
		</p>

		<br>

		<h3>How to buy?</h3>
		<p>
			Step 1: Go to website and click the presale tab
			<br>Step 2: Connect your wallet 
			<br>Step 3: Enter the amount of BNB you want to buy $MCR
			<br>Step 4: Click "Purchase" and confirm your transaction
		</p>
		</div>
	</div>
</div>

{% endblock %}
